/.idea/

/IB.ai/.idea/
/IB.ai/IB.ai.iml

/Mod-Mail/node_modules/
/Mod_Mail/package-lock.json
/Mod_Mail/token.json
/Mod_Mail/Mod-Mail-Icon.png

/Old_Edition/target/
/Old_Edition/.idea/
/Old_Edition/src/test/
/Old_Edition/IB BOT LOGO.png
/Old_Edition/WelcomeGIF.gif
/Old_Edition/Configuration.JSON
