/JavaScript_Edition/node_modules/

/JavaScript_Edition/token.json
/JavaScript_Edition/Mod-Mail-Icon.png

/Java_Edition/target/
/Java_Edition/.idea/
/Java_Edition/src/test/
/Java_Edition/IB BOT LOGO.png
/Java_Edition/WelcomeGIF.gif
/Java_Edition/Configuration.JSON
